// Farben
@c-dgreen: #005a4d;
@c-hgreen: #d3ecea;
@c-red: #e5202f;
@c-grey: #777;
@c-h1: #005a4d;



body {
	color: @c-grey;
	font-size: 14px;
	line-height: 20px;
	font-family:	'Noto Sans', sans-serif;
}


.row {
	padding: 30px 0;

	&.nopadding {
		padding: 0;
	}
}


// Text

h1 {
	color: @c-dgreen;
	text-transform: uppercase;
	font-style: italic;
	font-size: 23px;
	font-weight: bold;
	line-height: 31px;
}

h2 {
	color: @c-grey;
	text-transform: uppercase;
	font-size: 13px;
}

.trenner {
	background:  url("../img/trenner_grau.png");
	background-position: center center;
	background-repeat: no-repeat;
	height:8px;
	margin-top:15px;
	margin-bottom: 30px;

	&.blue {
		background:  url("../img/trenner_blau.png");
		background-position: center center;
	background-repeat: no-repeat;

		}
}

.trenner_short {
	background:  url("../img/trenner_blau_kurz.png");
	background-position: left center;
	background-repeat: no-repeat;
	height:8px;
	margin-top:15px;
	margin-bottom: 30px;
}

a, a:hover {
	text-decoration: none;
}

// Navigation

.container-fluid {
	padding: 0;
	}

.nav {

	background: #fff;
}

.navbar {
	margin: 0;
}
.navbar-default {
	background: none;
	border:none;
}

.navbar-nav {
	float: right;
	font-weight: bold;

	&>li {
		text-transform: uppercase;
		border-top: 5px solid transparent;
		margin: 0 30px;

		&>a {
			color: @c-dgreen !important;
			&:hover {
				color: @c-hgreen !important;
			}
		}
		&:hover {
			border-top: 5px solid;
			border-color: @c-hgreen;
		}
	}
}

.logo {
	width: 400px;
	min-height: 60px;
	background: url("../img/logo.png") no-repeat;
	float:left;
}

.jumbo {
	background: url("../img/header.jpg");
	background-size: cover;
	width:100%;
	padding: 20%;
	margin: 0;
	border-radius: 0;
}

.teaser {
	color: #fff;
	text-transform: uppercase;
}

.teaser_text {
	margin-top: 50px;
	margin-left:35px;
}

.cta_btn {
	background: #95cfca;
	color:#fff;
	text-transform: uppercase;
	border:none;
	padding: 15px 30px;
	margin: 35px;
	text-align: center;

	&:hover {
		background: lighten(@c-dgreen, 10%);
	}
}

.kasten {
	background: @c-dgreen;
	margin-top: 15px;
	min-height: 550px;
	color: #fff;

	& .kasten-headline {
		font-style: italic;
		text-transform: uppercase;
		color: #fff;
		background: @c-red;
		padding: 5px 0;
		text-align: center;
	}

	& .img {
		overflow: hidden;
	}

	& .kasten-list {
		padding: 15px;

		& ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			font-size: 13px;
			line-height: 21px;

			& li {

			}

			& li:before {
				content: url("../img/listenpunkt_tuerkis.png");
			}
		}

	}
}

.kasten-button {
		border: 3px solid @c-dgreen;
		text-transform: uppercase;
		color:@c-dgreen;
		padding: 13px 0 15px 0;
		font-size: 1.25em;
		text-align: center;
		margin-top: 15px;


		&:before {
			content: url("../img/listenpunkt_rot.png");
			color:@c-red;
			padding:5px 15px 0 0;
		}

		&:hover {
			background: @c-dgreen;
			color:#fff;
		}
}

.zitate {
	padding: 60px 0;
	margin:0 auto;
	text-transform: uppercase;
	color:#fff;
	font-size: 120%;

	& .quotes {
		padding-bottom: 60px;
	}

	& .name {
		font-size: 80%;
		padding: 30px 0 0 0;
	}
}

.thumbnail {
	border: none;
	border-radius: 0;
	background: none;

	&>img {
		max-width: 60%;
	}
}

#Container {
	padding-top: 30px;
}
#Container .mix{
	display: none;
}

.gallery_btn {
	padding:10px 15px;
	margin:0 15px;
	border:1px solid @c-dgreen;
	color: @c-dgreen;
	text-transform: uppercase;
	background: #fff;

	&:hover {
		background: @c-dgreen;
		color: #fff;
	}

	&.active {
		background: @c-dgreen;
		color:#fff;
	}
}

.contact {
	padding: 15px 0;
}

.form {
	padding: 30px 0;
}

.textfield {
	display:block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;

	&.area {
		margin-top: 32px;
		height:152px;
	}
}

 .form_btn {
	padding:10px 15px;
	border:1px solid @c-dgreen;
	color: @c-dgreen;
	text-transform: uppercase;
	background: #fff;
	float: right;

	&:hover {
		background: @c-dgreen;
		color: #fff;
	}
}

.map {
	pointer-events: none;
	margin-bottom: -6px;
}

.footer_border {
	background: url("../img/footerpattern.png") ;
	height: 30px;
	margin-top: -60px;
}

.footer_logo {
	background: url("../img/footer_logo.png") no-repeat ;
	height: 66px;
	margin-top:100px;

}

.footer {

	& h1 {
		color:@c-hgreen;
		font-size: 1em;
		font-weight: normal;
	}

	& ul {
		list-style-type: none;
		padding: 0;

		& a {
			color:#fff;
		}
	}
}

// Specials

.zentriert {
	text-align: center;
}
.dgreen {
	background: @c-dgreen;
	color: #fff;
}

.hgreen {
	background: @c-hgreen;
}

.white {
	color:#fff;
}

.broken  {
	max-width: 50%;
	margin: 10px auto;
	word-wrap: break-word;
	hyphens:auto;
}

.fixed {
position: fixed;
width: 100%;
top: 0;
left: 50%;
margin-left: -50%;
z-index: 1000;
background: #fff;
}



/* dfgdgdgdgd
	*/

.demo-2 {
    position:relative;
    width:170px;
    height:238px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background: @c-hgreen;
}
.demo-2 p,.demo-2 h2 {
	color:@c-grey;
    padding:10px;
    top:20px;
    position:relative
}
.demo-2 p {
    margin:0
}
.demo-2 h2 {
    margin:0;
    text-transform: none;
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-80px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}